:root {
  // Normal colors
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #adb0b4;
  --color-dark-grey: #38424e;

  // Primary colors
  --color-primary: #303a44;
  --color-primaryLight: #37e3e7;
}